{% extends "layout.html" %}
{% load bootstrap %}
{% block title %}
    Login Page
{% endblock %}

{% block content %}
    
    
    <div class="container min-vh-100 text-white d-flex justify-content-center align-items-center">
        <form method="post">
            {% csrf_token %}
            <h1 >Sign in to your account</h1>
            {{form | bootstrap}}
            <button class="btn btn-primary mt-4">Login</button>
            <p>Don't have an account ? <a href="{% url 'register' %}">Register Here</a></p>
        </form>
    </div>

{% endblock %}